body {
    background-color: #202022;
}

nav {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #BE3043;
}

#nav-list {
    display: flex;
}

li,
a {
    list-style: none;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#main {
    padding-left: 70px;
}

#welcome-section {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 2rem;
}

h2 {
    color: #BE3043;
    font-size: 1.5rem;
}

#welcome-text {
    margin: 300px 30%;
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
}

img {
    width: 300;
    height: 300;
}

@media only screen and (min-width: 600px) {
    #main {
        padding: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    #main {
        padding: 40px;
    }
    nav {
        font-size: larger;
    }
}