body {
    background-color: #202022;
}

nav {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #BE3043;
}

#nav-list {
    display: flex;
}

li, a {
    list-style: none;
    color: white;
    padding: 10px;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    #main {
        padding: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    #main {
        padding: 40px;
    }

    nav {
        font-size: larger;
    }
}
