body {
    background-color: #202022;
}

nav {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #BE3043;
}

#nav-list {
    display: flex;
}

